<!-- Button trigger modal -->
<button type="button" class="<%= estilo_botao %>" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <%= titulo_botao %>
  <i class="<%= icone_botao %>"></i>
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= titulo_modal%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= mensagem_modal %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <%= button_to 'Confirmar', rota_botao_confirmar, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>